body{
    background-color: #FFECE3;
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    gap: 10px;
    padding: 10px;
    background-color: #ffece3;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #0000000b;
}
.res{
    padding: 5px;
    margin: 3px;
    width: 300px;
    border-radius: 6px;
    color: white;
    background-color: lightgreen;
    
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label{
    width: 70%;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.btn-submit{
    background-color: #ffede5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.producto{
    padding: 10px;
    background-color: #ffece3;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #0000000b;


}

.palabrafacheratitular{
    background-color: rgba(249,224,224);
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0000000b;
    border-radius: 10px;
}

.palabrafachera2{
    border: 2px solid #0000000b;

    background-color: rgba(249,224,224);
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.palabrafachera3{
    border: 2px solid #0000000b;
    background-color: rgba(249,224,224);
    height: 50px;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}



.palabrafachera{
    border: 2px solid #0000000b;

    background-color: rgba(249,224,224);
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.link{
    margin-left: 2px;
    background-color: rgba(249,224,224);
    width: 50px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #0000000b;



}

.link1{
    background-color: rgba(249,224,224);
    width: 60px;
    height: 40px;    
    margin-right: 4px;
    border-radius: 10px;
    border: 2px solid #0000000b;


}

.productos{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

